In [8]:
import pandas as pnd

In [9]:
from sklearn.model_selection import train_test_split

In [15]:
dataset=pnd.read_csv("advertising.csv",index_col=0)

In [16]:
X=dataset.iloc[:,:3]
y=dataset.iloc[:,3]

In [17]:
X

        TV  Radio  Newspaper
ID
1    230.1   37.8       69.2
2     44.5   39.3       45.1
3     17.2   45.9       69.3
4    151.5   41.3       58.5
5    180.8   10.8       58.4
..     ...    ...        ...
196   38.2    3.7       13.8
197   94.2    4.9        8.1
198  177.0    9.3        6.4
199  283.6   42.0       66.2
200  232.1    8.6        8.7

[200 rows x 3 columns]

In [18]:
train_test_split(X,y)

[        TV  Radio  Newspaper
 ID
 156    4.1   11.6        5.7
 167   17.9   37.6       21.6
 18   281.4   39.6       55.8
 25    62.3   12.6       18.3
 182  218.5    5.4       27.4
 ..     ...    ...        ...
 66    69.0    9.3        0.9
 44   206.9    8.4       26.4
 5    180.8   10.8       58.4
 147  240.1    7.3        8.7
 139   43.0   25.9       20.5

 [150 rows x 3 columns],
         TV  Radio  Newspaper
 ID
 20   147.3   23.9       19.1
 109   13.1    0.4       25.6
 99   289.7   42.3       51.2
 23    13.2   15.9       49.6
 73    26.8   33.0       19.3
 67    31.5   24.6        2.2
 24   228.3   16.9       26.2
 98   184.9   21.0       22.0
 145   96.2   14.8       38.9
 125  229.5   32.3       74.2
 96   163.3   31.6       52.9
 65   131.1   42.8       28.9
 64   102.7   29.6        8.4
 160  131.7   18.4       34.6
 192   75.5   10.8        6.0
 126   87.2   11.8       25.9
 127    7.8   38.9       50.6
 177  248.4   30.2       20.3
 184  287.6   43.0       71.8
 35    95.7    1.4        7.4
 48   239.9   41.5       18.5
 76    16.9   43.7       89.4
 175  222.4    3.4       13.1
 46   175.1   22.5       31.5
 32   112.9   17.4       38.6
 61    53.5    2.0       21.4
 169  215.4   23.6       57.6
 21   218.4   27.7       53.4
 89    88.3   25.5       73.4
 53   216.4   41.7       39.6
 26   262.9    3.5       19.5
 149   38.0   40.3       11.9
 81    76.4   26.7       22.3
 7     57.5   32.8       23.5
 116   75.1   35.0       52.7
 166  234.5    3.4       84.8
 97   197.6    3.5        5.9
 122   18.8   21.7       50.4
 186  205.0   45.1       19.6
 1    230.1   37.8       69.2
 191   39.5   41.1        5.8
 138  273.7   28.9       59.7
 59   210.8   49.6       37.7
 100  135.2   41.7       45.9
 181  156.6    2.6        8.3
 62   261.3   42.7       54.7
 193   17.2    4.1       31.6
 14    97.5    7.6        7.2
 143  220.5   33.2       37.9
 101  222.4    4.3       49.8,
 ID
 156     3.2
 167     8.0
 18     24.4
 25      9.7
 182    17.2
        ...
 66     11.3
 44     17.9
 5      17.9
 147    18.2
 139     9.6
 Name: Sales, Length: 150, dtype: float64,
 ID
 20     14.6
 109     5.3
 99     25.4
 23      5.6
 73      8.8
 67     11.0
 24     20.5
 98     20.5
 145    12.3
 125    19.7
 96     16.9
 65     16.0
 64     14.0
 160    12.9
 192    11.9
 126    10.6
 127     6.6
 177    20.2
 184    26.2
 35     11.9
 48     23.2
 76      8.7
 175    16.5
 46     16.1
 32     11.9
 61      8.1
 169    17.1
 21     18.0
 89     12.9
 53     22.6
 26     17.0
 149    10.9
 81     11.8
 7      11.8
 116    12.6
 166    16.9
 97     16.7
 122     7.0
 186    22.6
 1      22.1
 191    10.8
 138    20.8
 59     23.8
 100    17.2
 181    15.5
 62     24.2
 193     5.9
 14     13.7
 143    20.1
 101    16.7
 Name: Sales, dtype: float64]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=55)

In [20]:
X_train

        TV  Radio  Newspaper
ID
103  280.2   10.1       21.4
181  156.6    2.6        8.3
116   75.1   35.0       52.7
101  222.4    4.3       49.8
12   214.7   24.0        4.0
..     ...    ...        ...
190   18.7   12.1       23.4
30    70.6   16.0       40.8
126   87.2   11.8       25.9
40   228.0   37.7       32.0
155  187.8   21.1        9.5

[160 rows x 3 columns]

In [21]:
dataset.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [ ]:
#** Les etapes
#1- cree: LinearRegression
#2- entrainer: fit

In [22]:
#model (sklearn)
from sklearn.linear_model import LinearRegression

In [23]:
model=LinearRegression()

In [24]:
model.fit(X_train, y_train)

LinearRegression()

In [27]:
bais=model.intercept_

In [28]:
W=model.coef_

In [43]:
y1=bais+W[0]*50+W[1]*40+W[2]*30

In [44]:
y2=bais+W[0]*40+W[1]*30+W[2]*50

In [45]:
y3=bais+W[0]*30+W[1]*80+W[2]*10

In [46]:
y1

11.774930167235357

In [47]:
y2

10.153241659098537

In [48]:
y3

15.012289501650384

In [53]:
import numpy as np

In [55]:
a=np.array([4,5])
a**2

array([16, 25])

In [51]:
yhat=model.predict(X_test)

In [56]:
type(yhat)

numpy.ndarray

In [50]:
len(X_test)

40

In [52]:
y_test-yhat

ID
80    -0.850936
117   -1.608762
137   -0.861893
130    0.427625
125   -0.887520
191   -0.537050
146   -2.238905
23    -1.593561
189   -0.771464
54     1.633804
142    0.205315
182    0.083608
124    0.067309
171   -0.321608
167   -1.792532
200    0.200764
120   -0.947602
58    -0.978078
134   -0.605189
27    -0.627299
102   -0.807933
16     1.981604
149   -0.268053
86     3.058857
144   -0.618274
138   -1.804646
115    0.577419
172    1.627294
28     1.403388
76    -1.671323
180    2.830971
159   -2.075213
65    -0.440015
133   -2.468730
198   -0.510983
151   -5.274476
199    0.954735
35     1.813875
69    -1.618273
114    2.620117
Name: Sales, dtype: float64

In [57]:
tabl=(y_test-yhat)**2

In [59]:
np.sum(tabl)/len(tabl)

2.6980676090188793

In [60]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [61]:
mean_squared_error(yhat,y_test)

2.6980676090188793

In [62]:
mean_absolute_error(yhat,y_test)

1.2916750752642412

In [63]:
r2_score(yhat,y_test)

0.8872315497030767